<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="main">
    <h1>{{anime}}</h1>
    {{>header}}
    <p>hello hi how are you and why so serious. do you like batman, I'm a very a big fan</p>
    <form>
        <input placeholder="location">
        <button>Search </button>
    </form>
    <p id="dash"></p>
    <p id="hash"></p>

    </div>
    {{>footer}}
    <script src="/js/app.js"></script>
</body>
</html>